<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-ngModel-getter-setter-production</title>
  
  <script src="http://code.angularjs.org/snapshot/angular.min.js"></script>
  <script src="http://app.js"></script>
  

  
</head>
<body >
  <div ng-app ng-init="firstName, lastName, dob, gender, person = []">
  <form name="userForm">
    
    <label>First Name:
      <input type="text" name="firstName" ng-model="firstName"/>
    </label><br><br>
    
    <label>Last Name:
      <input type="text" name="lastName" ng-model="lastName"/>
    </label><br><br>
    
    <label>Dob:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="date" name="dob" ng-model="dob"/>
    </label><br><br>
    
    <label>Gender: &nbsp;&nbsp;&nbsp;
      
      <label><input  name="gender" type="radio" value="Male" ng-model="gender">Male</label>
   
    
      <label><input name="gender" type="radio" value="Female" ng-model="gender">Female</label>
    
    </label>
    
  </form><br><hr>
  
  <div>
      <p>First Name:<b>{{firstName}}</b></p>
      <p>Last Name:<b>{{lastName}}</b></p>
      </b><p>Date of Birth: <b>{{dob | date}}</b></p>
      <p>Gender: <b>{{gender}}</b></p>
      
      <p>Full Name:<b>{{firstName + " " + lastName}}</b></p>
      <p>Age: <b>{{dob ? 2018 - (dob |date : 'y') : ''}} </b></p>
    </div>
  </div>
  
</div>
</body>
</html>

<!-- 
Copyright 2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
